In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler,StandardScaler
from sklearn.model_selection import train_test_split
from keras.preprocessing.sequence import TimeseriesGenerator
import tensorflow as tf
from datetime import datetime

In [46]:
#def convert_to_date(x):
  #  return datetime.strptime(x, '%Y %m %d')

IndentationError: unexpected indent (1353026009.py, line 2)

In [27]:
#data=pd.read_csv('twins_1992-1997.csv',parse_dates=[['year','month','day']],date_parser=convert_to_date,keep_date_col=False)

C:\Users\DELL\AppData\Local\Temp\ipykernel_31360\3957504781.py:1: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  data=pd.read_csv('twins_1992-1997.csv',parse_dates=[['year','month','day']],date_parser=convert_to_date,keep_date_col=False)

In [48]:
data=pd.read_csv('twins_1992-1997.csv')

In [50]:
data.head()

,year,month,day,latitude,longitude,zon.winds,mer.winds,humidity,air temp.,s.s.temp.
0,1992,1,1,5.01,-110.00,-3.3,3.6,NaN,26.39,27.40
1,1992,1,1,1.98,-140.40,-4.4,4.1,NaN,27.75,28.27
2,1992,1,1,5.00,-140.00,NaN,NaN,NaN,26.70,28.27
3,1992,1,1,-2.00,156.00,9.6,4.3,NaN,27.77,29.39
4,1992,1,1,8.04,-110.06,NaN,NaN,86.3,26.72,27.30

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77506 entries, 0 to 77505
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   year       77506 non-null  int64
 1   month      77506 non-null  int64
 2   day        77506 non-null  int64
 3   latitude   77506 non-null  float64
 4   longitude  77506 non-null  float64
 5   zon.winds  66895 non-null  float64
 6   mer.winds  66895 non-null  float64
 7   humidity   62674 non-null  float64
 8   air temp.  72158 non-null  float64
 9   s.s.temp.  77506 non-null  float64
dtypes: float64(7), int64(3)
memory usage: 5.9 MB

In [54]:
data['humidity'].interpolate(inplace=True)

In [56]:
data['zon.winds'].fillna(np.random.normal(data['zon.winds'].mean(),data['zon.winds'].std()),inplace=True)
data['mer.winds'].fillna(np.random.normal(data['mer.winds'].mean(),data['mer.winds'].std()),inplace=True)

In [58]:
data['humidity']=data['humidity'].fillna(data['humidity'].mean(),)

In [60]:
data=data.dropna(subset=['air temp.'])

In [78]:
data.count()

year         72158
month        72158
day          72158
latitude     72158
longitude    72158
zon.winds    72158
mer.winds    72158
humidity     72158
air temp.    72158
s.s.temp.    72158
dtype: int64

In [80]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import GradientBoostingRegressor

In [82]:

scaler = StandardScaler()
scaled_data = scaler.fit_transform(data)


X = scaled_data 
y = data["s.s.temp."] 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)


model = GradientBoostingRegressor()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
from sklearn.metrics import mean_squared_error, r2_score
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f"Mean Squared Error: {mse}")
print(f"R-squared: {r2}")

Mean Squared Error: 0.00027238410695744634
R-squared: 0.999932530672359

# Model deployment (for making predictions on new data)
new_data = pd.DataFrame({  # Replace with your new data structure
    # ... (Add your data features here) (all numeric)
})

# Preprocess new data using the same scale

new_data_scaled = scaler.transform(new_data)

new_data_pred = model.predict(new_data_scaled)
print(f"Predicted s.s.temp. for new data: {new_data_pred}")